





.verse 
		{
			color: white;
			margin: 20px 10px 20px 10px;
		     border:solid black; 
		     background-color: blue;	
		}

		#newtestament
		{
			color: white;
			margin: 15px 10px 15px 10px;
		     border:solid black; 	
		     background-color: blue;
		}

		  .joel {
		  	color: white;
			margin: 15px 10px 15px 10px;
		     border:solid black; 
		     background-color: blue;	
		}

          .joelalabi {
	           color: white;
			margin: 15px 10px 15px 10px;
		     border:solid black; 
		     background-color: blue;

}

h3{
	        color: white;
			margin-top:15px;
		     border:solid black; 
		     background-color: blue;
}
		